/*Meyers Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* General Styles */

.outerContainer {
    background-color: black;
    width: 800px;
    height: 800px;
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.innerContainer {
    background-color: #273549;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    height: 80%;
}

.title, .title2 {
    font-weight: 700;
    font-size: 2.5em;
    padding-left: 10%;
    
}

.title {
    color: white;
    padding-top: 10%;
}

.title2 {
    color: skyblue;
}

.subline, .char {
    font-size: 1.2em;
    color: lightgray;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.generate {
    font-size: 1.2em;
    padding: 1%;
    margin-left: 10%;
    margin-top: 5%;
    background-color: skyblue;
    border-radius: 10px;
    border-color: skyblue;
    color: black;
}

.divider {
    border: 0.5px solid lightgray;
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

#passBox {
    width: 40%;
    height: 5%;
    background-color: lightgray;
    color: black;
    padding: 2%;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 2px;
    font-size: 1.2em;
}